* {
  box-sizing: border-box;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-shadow: 1px 1px 1px gray;
  font-family: "Sora", sans-serif;
}
header {
  background-color: steelblue;
  color: white;
  box-shadow: 1px 1px 1px 1px lightgray;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1% 2% 2% 2%;
}
.joke-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  border: 2px solid black;
  width: 25vw;
  height: 20vw;
  background-color: steelblue;
  color: white;
}

.checkbox {
  display: flex;
}
button,
#select {
  width: 40%;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
footer {
  background-color: steelblue;
  color: white;
  box-shadow: 1px 1px 1px 1px lightgray;
  justify-content: center;
  text-align: center;
  height: 25px;
  width: 100%;
}
nav {
  width: 30%;
}

ul {
  display: flex;
  width: 100%;
}
li {
  list-style: none;
  padding: 2%;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: white;
}
