.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 12px;
    box-shadow: 5px 5px 5px lightslategray;
    height: 150px;
    width: 600px;
    padding: 20px;
    margin: 20px;
    position: relative;
}
label {
    align-self: baseline;
    opacity: 0.5;
    font-size: 1rem;
    padding-top: 10px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
.btn {
    border-radius: 12px;
}
.pagination-nav {
    display: flex;
    justify-content: center;
}
.pagination {
    margin: 0;
    padding: 0;
    display: flex;
}
.pagination li {
    margin: 0 1px;
}
.displayBtn {
    padding: 20px;
    font-size: 1.5rem;
}
#kanyeDisplayBtn, #kanyeClose {
    background-color: salmon;
}

#kanyeClose, #lifeClose,#bandClose, #bmiClose {
    position: absolute; 
    top: 0;
    right: 0;
}

#lifeClose, #lifeDisplayBtn, #ageBtn {
    background-color: coral;
}

#kanye-quote-btn {
    background-color: salmon;

}
.tip {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tipInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 5%;
}

.tipTotal {
    position: absolute;
    right: 20%;
    font-size: 1.8rem;
}

.tipLabel {
    font-size: 1.5rem;
}

.tipCalc {
    display: flex;
}
#tipPercentage, #numOfPeople, #bill{
    height: 19px;
}
#bill {
    width: 190px;
}
#tipPercentage::placeholder, #numOfPeople::placeholder, #bill::placeholder{
    text-align: center;
    font-size: 1.3rem;
}